<!DOCTYPE HTML>
<html>
<head>
	<title> Past Inspections </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="all_inspections.css" media="screen">
</head>
<body>
<h2 align="center"> Past Inspections </h2><hr>
<header></header><br>
{{#each inspections}}
  <div class="inspections" align="center">
		<div class="inspection_id">ID: <strong>{{this.id}}</strong></div>
	    <div class="inspection_restaurant">Restaurant ID: <strong>{{this.establishment_id}}</strong></div>
	    <div class="inspection_user">User: <strong>{{this.user_id}}</strong></div>
	    <div class="inspection_date">Date: <strong>{{this.date_of_inspection}}</strong></div>
	    {{#if ../single_inspection}}
	    	<div class="inspection_time">Time In: <strong>{{this.time_in}}</strong> <br>Time Out: <strong>{{this.time_out}}</strong></div>
			<div class="inspection_permit">Permit Number: <strong>{{this.permit_number}}</strong></div>
			<div class="inspection_type">Re-inspection: <strong>{{this.type}}</strong></div>
			<div class="inspection_action">Action Required: <strong>{{this.action_required}}</strong></div>
			<div class="inspection_risk">Risk Level: <strong>{{this.risk_level}}</strong></div>
			<div class="inspection_embargo">Embargo: <strong>{{this.embargo}}</strong></div>
			<div class="inspection_reinspect">Date of Reinspection: <strong>{{this.date_of_resinspection}}</strong></div>
			<div class="inspection_signed">Signed: <strong>{{this.signed}}</strong></div>
			<a href="/violations/new?inspection_id={{this.id}}"> Create a new Violation for this Inspection </a><br><br>

			
			{{#each ../violations}}
				<h3 align="center"> Violations for this Inspection</h3>
				<div class="violation_name">Name: <strong>{{this.name}}</strong></div>
				<div class="violation_color">Color: <strong>{{this.color}}</strong></div>
				<div class="violation_description">Description: <strong>{{this.description}}</strong></div>
				<div class="violation_clause_no">Food Code Reference: <strong>{{this.food_code_clause_number}}</strong></div>
				<br>
			{{/each}}
			<input type="button" value="Print this page" onClick="window.print()">
	    {{else}}
	    	<a href="/inspections?id={{this.id}}"> View Details or Add Violations </a><br><br>
	    {{/if}}
		
  </div>
  <hr>
{{/each}}<br>
</body>
</html>
