<!DOCTYPE HTML>
<html>
<head>
	<title> Past Inspections </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="all_inspections.css" media="screen">
</head>
<body>
<h2 align="center"> Past Inspections </h2>
<header></header>
<div class="dropdown">
  <button class="dropbtn">Order by:</button>
  <div class="dropdown-content">
    <a href="#">name</a>
    <a href="#">date</a>
    <a href="#">risk</a>
  </div>
</div>
{{#each inspections}}
  <div class="inspection">
		<div class="inspection_id">ID: <strong>{{this.id}}</strong></div>
    <div class="inspection_restaurant">Restaurant ID: <strong>{{this.establishment_id}}</strong></div>
    <div class="inspection_user">User: <strong>{{this.user_id}}</strong></div>
    <div class="inspection_date">Date: <strong>{{this.date}}</strong></div>
		<div class="inspection_time">Time In: <strong>{{this.time_in}}</strong> | Time Out: <strong>{{this.time_out}}</strong></div>
		<div class="inspection_permit">Permit Number: <strong>{{this.permit_number}}</strong></div>
		<div class="inspection_type">Type: <strong>{{this.type}}</strong></div>
		<div class="inspection_action">Action Required: <strong>{{this.action_required}}</strong></div>
		<div class="inspection_risk">Risk Level: <strong>{{this.risk_level}}</strong></div>
		<div class="inspection_embargo">Embargo: <strong>{{this.embargo}}</strong></div>
		<div class="inspection_reinspect">Date of Reinspection: <strong>{{this.date_of_resinspection}}</strong></div>
		<div class="inspection_signed">Signed: <strong>{{this.signed}}</strong></div>
  </div>
  <hr>
{{/each}}
</body>
</html>
